@import "tailwindcss";

@theme inline {
  --font-display: var(--font-cinzel);
  --font-body: var(--font-cormorant-garamond);
}

body {
  font-family: var(--font-body);
}

h1, h2, h3 {
  font-family: var(--font-display);
}

p {
  @apply leading-relaxed;
}
